<form>
  <div class="form-group">
    <label>{{localize 'DND5E.Formula'}}</label>
    <input disabled
           name="formula"
           type="text"
           value="1d100 + (@powerLevel + @powerInvocation) * 5 + @bonus">
  </div>

  <div class="form-group">
    <label>{{localize 'FHCS.Invocation'}}</label>
    <div>
      <input checked
             id="none"
             name="invocation"
             type="radio">
      <label for="none">{{localize 'FHCS.None'}}</label>
      <input id="power"
             name="invocation"
             type="radio">
      <label for="power">{{localize 'FHCS.Power'}}</label>
      <input id="advantage"
             name="invocation"
             type="radio">
      <label for="advantage">{{localize 'FHCS.Advantage'}}</label>
    </div>
    
    {{#getWarning powerInvocationFlag}}{{/getWarning}}
  </div>

  <div class="form-group">
    <label>{{localize 'DND5E.RollSituationalBonus'}}</label>
    <input name="bonus"
           placeholder="{{localize 'DND5E.RollExample'}}"
           type="text"
           value="">
  </div>

  <div class="form-group">
    <label>{{localize 'DND5E.RollMode'}}</label>
    <select name="rollMode">{{selectOptions rollModes localize=true selected=defaultRollMode}}</select>
  </div>
</form>
