<form>
  <div class="form-group">
    <label>{{localize 'DND5E.Formula'}}</label>
    <input disabled
           name="formula"
           type="text"
           value="1d100 + @powerLevels * 5 + @bonus">
  </div>

  {{#each powers as |power|}}
    {{#if power}}
      <div class="form-group">
        <label for="{{power.name}}">{{#if power.i}}Powers:{{/if}}</label>
        {{power.name}} Level {{power.level}}
        <input id="{{power.level}}"
               name="powers"
               type="checkbox">
      </div>
    {{/if}}
  {{/each}}

  <div class="form-group">
    <label>{{localize 'DND5E.RollSituationalBonus'}}</label>
    <input name="bonus"
           placeholder="{{localize 'DND5E.RollExample'}}"
           type="text"
           value="">
  </div>

  <div class="form-group">
    <label>{{localize 'DND5E.RollMode'}}</label>
    <select name="rollMode">{{selectOptions rollModes localize=true selected=defaultRollMode}}</select>
  </div>
</form>
