<link href="modules/fates-heir-character-sheet/styles/style.css"
      rel="stylesheet"
      type="text/css">
<form autocomplete="off"
      class="{{cssClass}}">
  <div class="fhcs-background-image">
    {{!-- img --}}
    <img class="fhcs-character-img position-absolute"
         data-edit="img"
         data-tooltip="{{actor.name}}"
         src="{{actor.img}}">

    {{!-- name --}}
    <input class="fhcs-character-name height28px position-absolute text"
           data-tooltip="{{localize 'FHCS.Name'}}"
           name="name"
           type="text"
           value="{{actor.name}}">

    {{!-- level --}}
    <input class="fhcs-character-level height28px position-absolute text"
           data-tooltip="FHCS.Level"
           type="number"
           value="{{actor.flags.fates-heir-character-sheet.level}}">

    {{!-- player-name --}}
    <input class="fhcs-player-name height28px position-absolute text"
           data-tooltip="FHCS.PlayerName"
           type="text"
           value="{{actor.flags.fates-heir-character-sheet.player-name}}">

    {{!-- hp-value --}}
    <input class="fhcs-character-hp-value height28px position-absolute text text-align-center width30px"
           data-dtype="Number"
           data-tooltip="FHCS.HitPointsCurrent"
           max="{{getHpMax actor.flags.fates-heir-character-sheet.level}}"
           name="system.attributes.hp.value"
           type="number"
           value="{{system.attributes.hp.value}}">

    {{!-- hp-max --}}
    <div class="fhcs-character-hp-max height28px position-absolute text text-align-center width30px"
         data-tooltip="FHCS.HitPointsMax">{{getHpMax actor.flags.fates-heir-character-sheet.level}}</div>

    {{!-- cp --}}
    <input class="fhcs-character-cp height28px position-absolute text text-align-center width30px"
           data-dtype="Number"
           data-tooltip="FHCS.Copper"
           name="system.currency.cp"
           type="text"
           value="{{system.currency.cp}}">

    {{!-- sp --}}
    <input class="fhcs-character-sp height28px position-absolute text text-align-center width30px"
           data-dtype="Number"
           data-tooltip="FHCS.Silver"
           name="system.currency.sp"
           type="text"
           value="{{system.currency.sp}}">

    {{!-- gp --}}
    <input class="fhcs-character-gp height28px position-absolute text text-align-center width30px"
           data-dtype="Number"
           data-tooltip="FHCS.Gold"
           name="system.currency.gp"
           type="text"
           value="{{system.currency.gp}}">

    {{!-- inventory --}}
    <div class="fhcs-inventory flexcol inventory position-absolute">
      {{> 'fates-heir-character-sheet.inventory' sections=inventory}}
    </div>

    {{!-- signature-power --}}
    <textarea class="fhcs-character-signature-power position-absolute text text-align-center"
              data-tooltip="FHCS.SignaturePower">{{actor.flags.fates-heir-character-sheet.signature-power}}</textarea>
  </div>
</form>
