<link href="modules/fates-heir-character-sheet/styles/fates-heir-character-sheet.css"
      rel="stylesheet"
      type="text/css">
<form autocomplete="off"
      class="{{cssClass}}">
  <div class="background-image">
    {{!-- img --}}
    <img class="character-img position-absolute"
         data-edit="img"
         data-tooltip="{{actor.name}}"
         src="{{actor.img}}">

    {{!-- name --}}
    <input class="character-name height28px position-absolute text"
           data-tooltip="{{localize 'FHCS.Name'}}"
           name="name"
           placeholder="{{localize 'FHCS.Name'}}"
           type="text"
           value="{{actor.name}}">

    {{!-- level --}}
    <div class="character-level height28px position-absolute text">&nbsp;{{system.details.level}}</div>

    {{!-- hp-value --}}
    <input class="character-hp-value height28px position-absolute text text-align-center width30px"
           data-dtype="Number"
           data-tooltip="FHCS.HitPointsCurrent"
           max="{{getHpMax system.details.level}}"
           name="system.attributes.hp.value"
           placeholder="8"
           type="number"
           value="{{getHpValue hp.value system.details.level}}">

    {{!-- hp-max --}}
    <div class="character-hp-max height28px position-absolute text text-align-center width30px"
         data-tooltip="FHCS.HitPointsMax">{{getHpMax system.details.level}}</div>

    {{!-- cp --}}
    <input class="character-cp height28px position-absolute text text-align-center width30px"
           data-dtype="Number"
           data-tooltip="FHCS.Copper"
           name="system.currency.cp"
           type="text"
           value="{{system.currency.cp}}">

    {{!-- sp --}}
    <input class="character-sp height28px position-absolute text text-align-center width30px"
           data-dtype="Number"
           data-tooltip="FHCS.Silver"
           name="system.currency.sp"
           type="text"
           value="{{system.currency.sp}}">

    {{!-- gp --}}
    <input class="character-gp height28px position-absolute text text-align-center width30px"
           data-dtype="Number"
           data-tooltip="FHCS.Gold"
           name="system.currency.gp"
           type="text"
           value="{{system.currency.gp}}">
  </div>
</form>
