{{#if @root.owner}}
  <a class="fhcs-power-ai fhcs-power-{{power-id}}-ai"
     data-power="{{power-id}}"
     data-tooltip="FHCS.PowerConfigure">
    <i class="fa-edit fas fhcs-power-ai fhcs-power-{{power-id}}-ai"
       data-power="{{power-id}}"></i>
  </a>
{{else}}
  <div class="fhcs-power-ai"></div>
{{/if}}

<{{#if @root.owner}}a{{else}}h4{{/if}} class="fhcs-power-name fhcs-power-name-{{power-id}}-a"
  data-power="{{power-id}}"
  style="display: flex;{{#getStyle power-name-flag}}{{/getStyle}}"></{{#if @root.owner}}a{{else}}h4{{/if}}>
<select class="fhcs-power-select"
        data-power="{{power-id}}"
        name="fhcs-power-name-{{power-id}}"
        style="display: none;">
  <option></option>
  {{#each powers as |power|}}
    {{#isPowerAvailable flags}}
      <option value="{{power}}">{{power}}</option>
    {{/isPowerAvailable}}
  {{/each}}
</select>

<input class="fhcs-power-level"
       data-power="{{power-id}}"
       max="10"
       style="{{#getStyle power-name-flag}}{{/getStyle}}"
       type="number"
       value="{{power-level-flag}}">
<input class="fhcs-power-invocation fhcs-power-invocation-input"
       data-power="{{power-id}}"
       max="{{power-level-flag}}"
       style="{{#getStyle power-name-flag}}{{/getStyle}}"
       type="number"
       value="{{power-invocation-flag}}">
<div class="fhcs-power-invocation-separator">
  <div>{{#if power-level-flag}}/{{/if}}</div>
</div>

<input class="fhcs-power-invocation-input"
       disabled
       type="number"
       value="{{power-level-flag}}">
