{{#if @root.owner}}
  <a class="fhcs-power-ai fhcs-power-{{power-id}}-ai"
     data-power="{{power-id}}"
     data-tooltip="FHCS.PowerConfigure">
    <i class="fa-edit fas fhcs-power-ai fhcs-power-{{power-id}}-ai"
       data-power="{{power-id}}"></i>
  </a>
{{else}}
  <div class="fhcs-power-ai"></div>
{{/if}}

<{{#if @root.owner}}a{{else}}h4{{/if}} class="fhcs-power-name fhcs-power-name-{{power-id}}-a{{#if power-name-flag}}{{else}} unclickable{{/if}}"
  data-power="{{power-id}}">{{power-name-flag}}</{{#if @root.owner}}a{{else}}h4{{/if}}>
<select class="fhcs-power-select"
        data-power="{{power-id}}"
        name="fhcs-power-name-{{power-id}}">
  <option></option>
  {{#each powers as | power |}}
    <option value="{{power}}"
            {{#if (equals power ../power-name-flag)}}selected{{/if}}>{{power}}</option>
  {{/each}} 
</select>

<input class="fhcs-power-level{{#if power-name-flag}}{{else}} unclickable{{/if}}"
       data-power="{{power-id}}"
       max="10"
       type="number"
       value="{{power-level-flag}}">
<input class="fhcs-power-invocation fhcs-power-invocation-input{{#if power-name-flag}}{{else}} unclickable{{/if}}"
       data-power="{{power-id}}"
       max="{{power-level-flag}}"
       type="number"
       value="{{power-invocation-flag}}">
<div class="fhcs-power-invocation-separator">
  <div>{{#if power-level-flag}}/{{/if}}</div>
</div>

<input class="fhcs-power-invocation-input unclickable"
       type="number"
       value="{{power-level-flag}}">
