<{{#if @root.owner}}a{{else}}h4{{/if}} class="fhcs-skill-name fhcs-skill-{{skill-id}}-name{{#if skill-flag}}{{else}} unclickable{{/if}}">
  {{skill-flag}}
</{{#if @root.owner}}a{{else}}h4{{/if}}>
<input class="fhcs-skill-input fhcs-skill-{{skill-id}}-input"
       data-skill="{{skill-id}}"
       type="text"
       value="{{skill-flag}}">
{{#if @root.owner}}
  <a class="fhcs-skill-ai fhcs-skill-{{skill-id}}-ai"
    data-skill="{{skill-id}}"
    data-tooltip="DND5E.SkillConfigure">
  <i class="fa-edit fas fhcs-skill-ai fhcs-skill-{{skill-id}}-ai"
    data-skill="{{skill-id}}"></i>
  </a>
{{/if}}
