<div class="characteristics fhcs-journal-characteristics flexcol">
  <label>{{localize 'DND5E.Appearance'}}</label>
  <textarea name="system.details.appearance"
            spellcheck="false">{{system.details.appearance}}</textarea><br>
  <label>{{localize 'DND5E.PersonalityTraits'}}</label>
  <textarea name="system.details.trait"
            spellcheck="false">{{system.details.trait}}</textarea><br>
  <label>{{localize 'DND5E.Ideals'}}</label>
  <textarea name="system.details.ideal"
            spellcheck="false">{{system.details.ideal}}</textarea><br>
  <label>{{localize 'DND5E.Bonds'}}</label>
  <textarea name="system.details.bond"
            spellcheck="false">{{system.details.bond}}</textarea><br>
  <label>{{localize 'DND5E.Flaws'}}</label>
  <textarea name="system.details.flaw"
            spellcheck="false">{{system.details.flaw}}</textarea><br>
</div>

<div class="biography fhcs-journal-biography">
  {{editor biographyHTML
           button=true
           collaborate=false
           editable=editable
           engine="prosemirror"
           target="system.details.biography.value"}}
</div>
