<div class="inventory-filters spellbook-filters">
  <div class="form-group spellcasting-ability">
    {{#unless isNPC}}
      <label>{{localize 'DND5E.Spellcasting'}}</label>
    {{else}}
      <label>{{localize 'DND5E.Level'}}</label>
      {{numberInput system.details.spellLevel
        class="spellcasting-level"
        min=0
        name="system.details.spellLevel"
        placeholder="0"
        step=1}}
    {{/unless}}

    <div></div>
    {{#each (getPowers actor.flags.fates-heir-character-sheet) as |power pid|}}
      <div class="form-group">
        <label for="{{power}}">{{power}}</label>
        <input id="{{power}}"
               type="checkbox">
      </div>
    {{/each}}

    <a class="item-control item-create"
       data-level="0"
       data-preparation-mode="prepared"
       data-tooltip="DND5E.SpellCreate"
       data-type="spell">
      <i class="fa-plus fas"></i> {{localize 'DND5E.Add'}}
    </a>
  </div>
</div>

<ol class="inventory-list items-list">
  {{#each spellbook as |section|}}
    <ol class="item-list">
      {{#each section.spells as |item i|}}
        {{#dnd5e-itemContext item as |ctx|}}
          <li class="flexrow item {{#if ctx.isExpanded}}expanded{{/if}}"
              data-item-id="{{item.id}}">
            <div class="flexrow item-name rollable">
              <div aria-label="{{item.name}}"
                   class="item-image"
                   role="button"
                   style="background-image: url('{{item.img}}')"
                   tabindex="0"></div>
              <h4>{{item.name}}</h4>
              {{#if item.system.uses.per}}
                <div class="item-detail spell-uses">Uses {{item.system.uses.value}} / {{item.system.uses.max}}</div>
              {{/if}}

              <div class="spell-comps">
                {{#each item.labels.components.all}}
                  <span class="spell-component{{#if tag}} tag{{/if}}">{{abbr}}</span>
                {{/each}}
              </div>
            </div>

            <div class="spell-school">{{item.labels.school}}</div>
            <div class="spell-action">{{item.labels.activation}}</div>
            <div class="spell-target"
                 data-tooltip="{{localize 'DND5E.Range'}}: {{item.labels.range}}">
              {{#if item.labels.target}}
                {{item.labels.target}}
              {{else}}
                {{localize 'DND5E.None'}}
              {{/if}}
            </div>

            {{#if @root.owner}}
              <div class="flexrow item-controls">
                {{#if section.canPrepare}}
                  <a class="item-control item-toggle {{ctx.toggleClass}}"
                     data-tooltip="{{ctx.toggleTitle}}">
                    <i class="fa-sun fas"></i>
                  </a>
                {{/if}}
                <a class="item-control item-edit"
                   data-tooltip="DND5E.ItemEdit">
                  <i class="fa-edit fas"></i>
                </a>
                <a class="item-control item-delete"
                   data-tooltip="DND5E.ItemDelete">
                  <i class="fa-trash fas"></i>
                </a>
              </div>
            {{/if}}

            {{#if ctx.isExpanded}}
              {{> 'dnd5e.item-summary' (lookup @root.expandedData item.id)}}
            {{/if}}
          </li>
        {{/dnd5e-itemContext}}
      {{/each}}
    </ol>
  {{else}}
    {{#if owner}}
      {{#if filters.spellbook.size}}
        <li class="flexrow item">
          <p class="notes">{{localize 'DND5E.FilterNoSpells'}}</p>
        </li>
      {{else}}
        <li class="flexrow inventory-header item spellbook-empty spellbook-header">
          <div class="flexrow item-controls">
            <a class="item-control item-create"
               data-level="{{lvl}}"
               data-tooltip="DND5E.SpellCreate"
               data-type="spell">
              <i class="fa-plus fas"></i> {{localize 'DND5E.SpellAdd'}}
            </a>
          </div>
        </li>
        <li class="flexrow item">
          <p class="notes">{{localize 'DND5E.NoSpellLevels'}}</p>
        </li>
      {{/if}}
    {{/if}}
  {{/each}}
</ol>
