<ol class="inventory-list items-list"
    style="color: black; padding: 0;">
  {{#each sections as |section sid|}}
    {{!-- header --}}
    <li class="flexrow items-header"
        style="border: 0; margin: 0;">
      <h3 class="flexrow item-name">{{localize section.label}}</h3>
      {{#if section.columns}}
        {{#each section.columns}}
          <div class="item-detail {{css}}">{{label}}</div>
        {{/each}}
      {{else}}
        <div class="item-detail item-quantity">{{localize 'DND5E.QuantityAbbr'}}</div>
        <div class="item-detail item-uses">{{localize 'DND5E.Charges'}}</div>
      {{/if}}

      {{#if ../owner}}
        <div class="flexrow item-controls">
          <a class="item-create item-control"
             data-action="itemCreate"
             data-tooltip="DND5E.ItemCreate"
            {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
            <i class="fa-plus fas"></i> {{localize 'DND5E.Add'}}
          </a>
        </div>
      {{/if}}
    </li>

    {{!-- body --}}
    <ol class="item-list">
      {{#each section.items as |item iid|}}
        {{#dnd5e-itemContext item as |ctx|}}
          <li {{#if section.editableName}}data-item-index="{{iid}}"{{/if}}
              class="flexrow item {{#if ctx.isExpanded}}expanded{{/if}} {{section.css}}"
              data-item-id="{{item.id}}"
              style="border: 0; padding: 2px">
            <div class="flexrow item-name {{@root.rollableClass}}">
              {{#if section.editableName}}
                <input type="text"
                       value="{{item.name}}">
              {{else}}
                <div aria-label="{{item.name}}"
                     class="item-image"
                     role="button"
                     style="background-image: url('{{item.img}}'); border-radius: .5em;"
                     tabindex="0"></div>
                <p style="font-size: 12px; margin: 0;">{{item.name~}}</p>
                {{#if ctx.attunement}}
                  <div class="attunement item-detail">
                    <i class="fas"
                       data-tooltip="{{ctx.attunement.title}}"
                       {{ctx.attunement.cls}}
                       {{ctx.attunement.icon}}></i>
                  </div>
                {{/if}}
              {{/if}}
            </div>

            {{#if section.columns}}
              {{#each section.columns}}
                <div class="item-detail {{css}}">
                  {{#if editable}}
                    <input type="text"
                           data-dtype="{{editable}}"
                           data-property="{{property}}"
                           placeholder="&mdash;"
                           value="{{#if (getProperty item property)}}
                                    {{getProperty item property}}
                                  {{~else}}
                                    {{getProperty ctx property}}
                                  {{/if}}">
                  {{else}}
                    {{#if (getProperty item property)}}
                      {{getProperty item property}}
                    {{else}}
                      {{getProperty ctx property}}
                    {{/if}}
                  {{/if}}
                </div>
              {{/each}}
            {{else}}
              <div class="item-detail item-quantity">
                <input data-dtype="Number"
                       data-name="system.quantity"
                       placeholder="0"
                       type="text"
                       value="{{item.system.quantity}}">
              </div>

              <div class="item-detail item-uses">
                {{#if ctx.hasUses}}
                  <input data-dtype="Number"
                         data-name="system.uses.value"
                         placeholder="0"
                         type="text"
                         value="{{item.system.uses.value}}">
                    / {{item.system.uses.max}}
                {{/if}}
              </div>
            {{/if}}

            {{#if @root.owner}}
              <div class="flexrow item-controls">
                {{#if ctx.canToggle}}
                  <a class="item-control item-toggle {{ctx.toggleClass}}"
                     data-action="itemToggle"
                     data-tooltip='{{ctx.toggleTitle}}'>
                    <i class="fa-shield-alt fas"></i>
                  </a>
                {{/if}}

                {{#unless section.editableName}}
                  <a class="item-control item-edit"
                     data-action="itemEdit"
                     data-tooltip="DND5E.ItemEdit">
                    <i class="fa-edit fas"></i>
                  </a>
                {{/unless}}

                <a class="item-control item-delete"
                   data-action="itemDelete"
                   data-tooltip="DND5E.ItemDelete">
                  <i class="fa-trash fas"></i>
                </a>
              </div>
            {{/if}}

            {{#if ctx.isExpanded}}
              {{> 'dnd5e.item-summary' (lookup @root.expandedData item.id)}}
            {{/if}}
          </li>
        {{/dnd5e-itemContext}}
      {{/each}}
    </ol>
  {{/each}}
</ol>
