<div class="inventory-filters flexrow">
  {{#if isCharacter}}
    <div class="attunement">
      <label>{{localize "DND5E.Attunement"}}</label>
      <span class="attunement-value">{{system.attributes.attunement.value}}</span>
      <span class="sep"> / </span>
      <span class="attunement-max" {{#if overrides.attunement}}data-tooltip="DND5E.ActiveEffectOverrideWarning"{{/if}}>
        {{system.attributes.attunement.max}}
        {{#unless (or overrides.attunement (not editable))}}
          <a class="attunement-max-override" data-tooltip="DND5E.AttunementOverride">
            <i class="fa-solid fa-edit"></i>
          </a>
        {{/unless}}
      </span>
    </div>
  {{/if}}

  {{#if inventoryFilters}}
    <ul class="filter-list flexrow" data-filter="inventory">
      <li class="filter-item" data-filter="action">{{localize "DND5E.Action"}}</li>
      <li class="filter-item" data-filter="bonus">{{localize "DND5E.BonusAction"}}</li>
      <li class="filter-item" data-filter="reaction">{{localize "DND5E.Reaction"}}</li>
      <li class="filter-item" data-filter="equipped">{{localize "DND5E.Equipped"}}</li>
    </ul>
  {{/if}}
</div>
