<a class="fhcs-skill-{{skill}}-a fhcs-skill-name font-size20 height100 position-absolute width99px"
   style="align-items: center; display: flex; padding: 2px 4px;">{{flag}}</a>
<input class="fhcs-skill-input fhcs-skill-{{skill}}-input font-size20 height100 position-absolute width99px"
       data-skill="{{skill}}"
       style="display: none;"
       type="text"
       value="{{flag}}">
<a class="fhcs-skill-ai fhcs-skill-{{skill}}-ai font-size12 height23px width23px z-index9"
   data-skill="{{skill}}"
   data-tooltip="FHCS.EditSkill"
   style="align-items: center; display: flex; float: right; justify-content: center;">
  <i class="fa-edit fas fhcs-skill-ai fhcs-skill-{{skill}}-ai z-index9"
     data-skill="{{skill}}"></i>
</a>
