<div class="fhcs-skill-{{skill}}-div font-size20 height100 position-absolute rollable width99px"
     style="align-items: center; display: flex; padding: 2px 4px;">{{flag}}</div>
<input class="fhcs-skill-input fhcs-skill-{{skill}}-input font-size20 height100 position-absolute width99px"
       data-skill="{{skill}}"
       style="display: none;"
       type="text"
       value="{{flag}}">
<a class="fhcs-skill-ai fhcs-skill-{{skill}}-ai font-size12 height23px width23px"
   data-skill="{{skill}}"
   style="align-items: center; display: flex; float: right; justify-content: center; z-index: 9;">
  <i class="fa-edit fas fhcs-skill-ai fhcs-skill-{{skill}}-ai"
     data-skill="{{skill}}"
     style="z-index: 9;"></i>
</a>
